.bossPageBody {
	position: relative;
	text-align: center;
	height: 100%;
}

.bossPageText {
	display: none;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 200px;
	font-family: monospace;
	font-size: 1.5em;
}

.button {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 180px;
	top: 300px;
	overflow: hidden;
	font-family: monospace;
	font-size: 1.5em;
	text-align: center;
	color: white;
}

.back {
	margin: auto;
	width: 100px;
	color: white;
	background: #212121;
}

.back a {
	color: white;
}

.back:active {
	color: black;
	background: white;
}