.Pyramid {
	position: relative;
	font-size: 1.5em;
	text-align: center;
}

.boss {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 21%;
	width: 50px;
	text-align: center;
}

.boss:hover {
	background: black;
	color: white;
}

/*.bossPath {
	display: none;
	top: 17.5%;
	left: 50px;
	width: 300px;
	background: red;
}*/

.bossPaht_1 {
	display: none;
}

.vp {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 36%;
	width: 28px;
	text-align: center;
}

.vp:hover {
	background: black;
	color: white;
}

.director {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 51%;
	width: 96px;
	text-align: center;
	background: blue;
}

.director:hover {
	background: black;
	color: white;
}

.directorPath {
	display: none;
	position: absolute;
	width: 200px;
	bottom: -41px;
	right: 98px;
	color: black;
	/*background: red;*/
}

.pm {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 66%;
	width: 180px;
	text-align: center;
}

.pm:hover {
	background: black;
	color: white;
}

.comrade {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 81%;
	width: 278px;
	text-align: center;
}

.comrade:hover {
	background: black;
	color: white;	
}