.Pyramid {
	position: relative;
	font-size: 1.5em;
	text-align: center;
}

.boss {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 21%;
	width: 50px;
	text-align: center;
}

.boss:hover {
	background: black;
	color: white;
}

.bossPath {
	display: none;
	position: absolute;
	top: -21px;
	left: 50px;
	width: 300px;
	color: black;
	text-align: left;
}

.bossPaht_1 {
	display: none;
}

.vp {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 36%;
	width: 28px;
	text-align: center;
}

.vp:hover {
	background: black;
	color: white;
}

.vpPath {
	display: none;
	position: absolute;
	top: -21px;
	right: 28px;
	width: 175px;
	color: black;
	text-align: left;
}

.director {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 51%;
	width: 96px;
	text-align: center;
}

.director:hover {
	background: black;
	color: white;
}

.directorPath {
	display: none;
	position: absolute;
	width: 135px;
	bottom: -41px;
	right: 96px;
	text-align: left;
	color: black;
}

.pm {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 66%;
	width: 180px;
	text-align: center;
}

.pm:hover {
	background: black;
	color: white;
}

.pmPath {
	display: none;
	position: absolute;
	width: 200px;	
	height: 150px;
	bottom: 2px;
	left: 180px;
	color: black;
	text-align: left;
}

.comrade {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 81%;
	width: 278px;
	text-align: center;
}

.comrade:hover {
	background: black;
	color: white;	
}

.comradePath {
	display: none;
	position: absolute;
	width: 160px;	
	height: 220px;
	bottom: -2px;
	left: 278px;
	color: black;
	text-align: left;
}