@font-face {
	font-family: ComicZine;
	src: url("./Comic-Zine-OT/comic_zine_ot.otf");
}

.PageTitle {
	font-family: ComicZine;
}

.PageTitle h1 {
	font-size: 45pt;
}

.PageTitle h2 {
	font-size: 25pt;
}

a {
	color:black;
	text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: none;
}

.navigation {
	width: 180px;
	margin: auto;
	overflow: hidden;
	font-family: monospace;
	font-size: 1.5em;
}

.navigation a {
	float: left;
	width: 50%;
	color: black;
	text-align: center;
	text-decoration: none;
}

.navigation a:hover {
	color: white;
	background: black;
}

.parent {
	position: relative;
	overflow: hidden;
	height: 500px;
	font-family: monospace;
}

.bossPageBody {
	text-align: center;
}

.bossPageText {
	display: none;
	vertical-align: middle;
	line-height: 450px;
	font-family: monospace;
	font-size: 1.5em;
}

.button {
	margin: auto;
	width: 180px;
	font-family: monospace;
	font-size: 1.5em;
	text-align: center;
}

.back {
	margin: auto;
	width: 100px;
	color: white;
	background: #212121;
}

.back a {
	color: white;
}

.back:active {
	color: black;
	background: white;
}