@font-face {
	font-family: ComicZine;
	src: url("./Comic-Zine-OT/comic_zine_ot.otf");
}

.PageTitle {
	font-family: ComicZine;
}

.PageTitle h1 {
	font-size: 45pt;
}

.PageTitle h2 {
	font-size: 25pt;
}

a {
	color:black;
	text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: none;
}

.navigation {
	width: 180px;
	margin: auto;
	overflow: hidden;
	font-family: monospace;
	font-size: 13pt;
}

.navigation a {
	float: left;
	width: 50%;
	color: black;
	text-align: center;
	text-decoration: none;
}

.navigation a:hover {
	color: white;
	background: black;
}

.parent {
	position: relative;
	overflow: hidden;
	height: 40%;
	font-family: monospace;
}

.bossPath {
	display: none;
	position: absolute;
	top: 17.5%;
	left: 54%;
	font-size: 1.2vw;
	width: 120px;
}

.vpPath {
	display: none;
	position: absolute;
	top: 31%;
	right: 58%;
	font-size: 13pt;
	width: 120px;
}

.directorPath {
	display: none;
	position: absolute;
	bottom: 40%;
	right: 57%;
	font-size: 13pt;
	width: 120px;
}

.pmPath {
	display: none;
	position: absolute;
	bottom: 26%;
	left: 60.5%;
	font-size: 13pt;
	width: 120px;
}

.comradePath {
	display: none;
	position: absolute;
	bottom: 13%;
	left: 63%;
	font-size: 13pt;
	width: 120px;
}

.leftHiddenWord {
	display: none;
	position: absolute;
	bottom: 43%;
	right: 67.5%;
	font-size: 1.2vw;
	font-family: monospace;
}

.leftHiddenWordMiddle {
	display: none;
	position: absolute;
	bottom: 62%;
	right: 66.5%;
	font-size: 1.2vw;
	font-family: monospace;
}

.rightHiddenWord {
	display: none;
	position: absolute;
	top: 39%;
	left: 73.5%;
	font-size: 1.2vw;
	font-family: monospace;
}

.bossPage {
	text-align: center;
	height: 450px;
}

.bossPageText {
	vertical-align: middle;
	line-height: 450px;
	font-family: monospace;
	font-size: 13pt;
}